name: BinaryBuilder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - i686-linux-gnu-cxx03,x86_64-linux-gnu-cxx03
          - aarch64-linux-gnu-cxx03,arm-linux-gnueabihf-cxx03
          - powerpc64le-linux-gnu-cxx03,i686-linux-musl-cxx03
          - x86_64-linux-musl-cxx03,aarch64-linux-musl-cxx03
          - arm-linux-musleabihf-cxx03,x86_64-apple-darwin14-cxx03

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: 1.4.0
      - name: Setup BinaryBuilder
        env:
          BINARYBUILDER_RUNNER: privileged
          BINARYBUILDER_AUTOMATIC_APPLE: true
        run: |
          julia --color=yes -e 'using Pkg; pkg"add BinaryBuilder; build"'
          julia --color=yes build_tarballs.jl --verbose ${{ matrix.target }}
      - name: Publish tarball
        if: startsWith(github.ref, 'refs/tags')
        uses: softprops/action-gh-release@v1
        with:
          files: products/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
